#map-container {
    position: relative;
    height: 100%;
    padding: 0;
    max-width: 1030px;
    width: 80%;
    height: fit-content;
}

    #map-container #map-dropdown {
        position: absolute;
        right: 0;
        z-index: 10;
    }

    #map-container svg .map-area{
        cursor:pointer;
    }

    #map-container svg.no-pan {
        cursor: default !important;
    }

    #map-container .map-controls {
        position: absolute;
        top: 50%;
        left: 10px;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        z-index: 10;
    }

.map-controls > input {
}

#map-container .map-controls button {
    border: solid #007bff;
}

#map-container .map-controls #map-pan:not(.active) {
    background-color: transparent;
    color: #007bff;
}

#map-dropdown {
    position: absolute;
    right: 0;
    z-index: 10;
}

.dropdown-menu-right {
    max-height: 200px;
    overflow-y: auto
}

.hilighted {
    fill: red;
    fill-opacity: 0.6;
}

.map-button.dropdown-item.active {
    background-color: #459fff;
}

.map-button.dropdown-item {
    border-top: solid 0.2px lightgray;
}

    .map-button.dropdown-item:last-child {
        border-bottom: solid 0.2px lightgray;
    }
