#map-container {
    position: relative;
    height: 100%;
    padding: 0;
    max-width: 1030px;
    width: 80%;
    height:fit-content;
}
#map-dropdown {
    position: absolute;
    right: 0;
    z-index: 10;
}

.dropdown-menu-right {
    max-height: 200px;
    overflow-y: auto
}

.hilighted {
    fill: red;
    fill-opacity: 0.6;
}

.map-button.dropdown-item.active {
    background-color: #459fff;
}

.map-button.dropdown-item {
    border-top: solid 0.2px lightgray;
}

.map-button.dropdown-item:last-child{
    border-bottom: solid 0.2px lightgray;
}