@model SinglePost<StandardPost>
                <div class="modal-body text-center" id="popup-modal-body">
                    <h3>@Model.Data.Title</h3>
                    <img id="top-point" src="~/assets/statics/img/point.png">
                    <img id="bottom-point" src="~/assets/statics/img/point.png">
                    @foreach (var block in Model.Data.Blocks)
                    {
                        <div class="block @block.CssName()">
                            <div class="container">
                                @Html.DisplayFor(m => block, $"{block.GetType().Name}")
                            </div>
                        </div>
                    }
                </div>
        