body {
    
}

.tile {
    min-width: 45%;
    max-width: 47%;
    min-height: 150px;
    max-height: 300px;
    border: solid 3px black ;
    border-radius: 5px;
    background-color: #f2f2f2;
    flex-grow: 1;
}

.tile:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
            
    background-color: #d1d1d1;
    
}

.in-tile-image{
    max-height: 30%;
    width: auto;
}

@media(max-width:767.98px){
    .tile{
        min-width:100%;
    }
}

.bg-bg {
    background-color: #FCF6B1;
}

.bg-content-field {
    background-color: lightgray;
}

.bg-footer {
    background-color: darkgray;
}

@media(min-width: 576px) {
    .bg-content-field {
        box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1),
            3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }
}
