body{
    min-height: 100vh;
}
main{
    min-height: 100%;
}
.bg-bg {
    background-color: #FCF6B1;
}

.bg-content-field {
    background-color: lightgray;
}

.bg-footer{
    background-color: darkgray;
}

@media(min-width: 576px) {
    .bg-content-field {
        box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.1),
            3px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }
}
